<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>HTML5 Skeleton</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
<!-- 	<link rel="stylesheet" type="text/css" href="../static/css/user.css" /> -->
	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<br>
<div class="container">
<div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2"> 
	<h2>This is not the page you're looking for...</h2>
	<hr>
	
	
	<p>The following page was not found on our website:</p>
	<p><code>{{ request.url }}</code></p>
	<p>Please <a href="/" class="btn btn-success">Login</a> or <a href="/signup" class="btn btn-primary">Register</a> to view our features.</p>
</div>
</div>
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>